<div class="relative max-w-[1126px] mx-auto">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb ml-2 mb-0">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Gestion de departamentos</li>
    </ol>
  </nav>
  <div class="container-box mt-3">
    <h1 class="header-title-page">
      Gestion de Departamentos
    </h1>
  </div>
</div>
<div class="relative max-w-[1126px] mx-auto">
  <!-- AQUI SE COLOCAN LOS COMPONENTES A MOSTRAR  -->
    <!--<div class="bg-white font-Monserrat text-sm flex mx-auto w-[90%] py-5 justify-between">-->
      <div class="container-box mb-3 custom-buttons">
        <a href="departamentos/agregar-grupo">
          <button class="btn btn-copal">AGREGAR GRUPO</button>
        </a>
      </div>
    <div class="font-Monserrat max-w-[1126px]">
      <app-tabla-departamentos></app-tabla-departamentos>
    </div>
</div>


  
    




