<div *ngIf="showModalEdit" class="modal-overlay">
    <div class="modal">
        <div class="modal-header">
            <h2>Detalle Reserva</h2>
            
            <div class="estado">
              <select [(ngModel)]=" estadoSeleccionado"  class="estado-var" [ngClass]="getClasePorEstado(estadoSeleccionado)"  (change)="cambiarEstado()">
                <option [value]="infoReservas.estadoActual.estado.id">{{infoReservas.estadoActual.estado.nombre}}</option>
                <option *ngFor="let option of opcionesTipoReserva" [value]="option.id">{{option.nombre}}</option>
              </select>              
            </div>
            <button (click)="cerrarModal()">X</button>
          </div>
      
          <!-- Body del Modal -->
          <div class="modal-body">
            <p>Reserva #{{infoReservas.id}}</p>
            <p>Responsable: {{ infoReservas.responsable.nombreCompleto }}</p>
            <p>Fecha reserva: {{ fechaFormateada }}</p>
            <p>Hora reserva: {{ infoReservas.horaInicio.substring(0,5)}}-{{infoReservas.horaFin.substring(0,5)}}</p>
            <p>Correo electrónico: {{ infoReservas.responsable.mail }}</p>
            <p>Espacio: {{ infoReservas.espacioFisico.nombre }}</p>
            <p>Recursos: {{ infoReservas.recursosSolicitados.nombre }}</p>
            <p>Descripción adicional: {{ infoReservas.descripcion }}</p>
            <p>Observaciones:  </p>
          </div>
          <div class="footer">
            <button type="button" class="btnAgregar" (click)="editarEstadoEnviar()" >EDITAR</button>
            <button type="button" class="btnCancelar" (click)="cerrarModal()">CANCELAR</button>
          </div>
    </div>
</div>