.card-container-dep{
    height: 450px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    
}
/*CSS Body card*/
.card-body-dep{
    height: 330px;
    width: 300px;
    display: flex;
    flex-direction: column;
}
.container-title-dep{
    height: 60px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-body-dep{
    text-align: center;
    font-weight: bold;
    color: #283549;
}
.container-text-dep{
    height: 220px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-body-dep{
    color: #283549;
    text-align: center;
}
.container-button-dep{
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-body-dep{
    background-color: #67b4c0;
    color: white;
}

/*CSS Image Card*/
.card-image-dep{
    padding-top: 10px;
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.image-logo-dep{
    height: 100px;
    width: 250px;
    object-fit: scale-down;
    border-radius: 50%;
}

.container-actions{
    width: 150px;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-actions > img{
    width: 2rem;
    height: 2rem;
    background-color: #67b4c0;
    border-radius: 50%;
    object-fit:scale-down;
}
.container-actions > img:hover{
    opacity: 0.7;
    cursor: pointer;
}

.btn-delete{
    background-color: red;
    color: white;
}
.btn-delete:hover{
    background-color: white;
    border: 1px solid red;
    color: red;
}
.btn-cerrar{
    background-color: #67b4c0;
    color: white;
}
.btn-cerrar:hover{
    background-color: white;
    border: 1px solid #67b4c0;
    color: #67b4c0;
}
.contenedor-response{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.img-response{
    width: 80px;
    height: 80px;
}