.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000; /* Puedes ajustar el valor según sea necesario */
}

.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2000; /* Asegúrate de que sea mayor que el z-index del overlay */
}
* {
  box-sizing: border-box;
}
.estado-var{
  width: 150px;
  height: 35px;
  display: flex;
  justify-content: center;
  background-color: aqua;
  text-align: center;
  align-items: center;
}
.estado-aceptado {
  background-color: #04C39A;
  color: white;
}

.estado-pendiente {
  background-color: #C39904;
  color: white;
}

.estado-rechazado {
  background-color: #FF0000;
  color: white;
}
.estado-cancelado {
  background-color: #6d7271; /* El color que desees para el estado cancelado */
  color: white;
}

.estado-aceptado-parcial {
  background-color: #04C39A; /* El color que desees para el estado aceptado parcial */
  color: white;
}

.estado-desconocido {
  background-color: #67B4C0; /* El color que desees para cualquier otro estado desconocido */
  color: white;
}